@model List<Customers>
@{
    ViewBag.Title = "List";


}

<h2>Customers</h2>


@{ 
    int counter = 1;
}
<table class="table table-bordered table-condensed table-responsive table-striped table-hover"   >
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@(counter++)</td>
                <td>@customer.CustomerID</td>
                <td>@customer.CompanyName</td>
                <td>@customer.ContactName</td>
                <td>@customer.Country</td>
            </tr>
        }
    </tbody>

</table>
